

/*start__main*/
/*myAll*/
$myColor: black;
@mixin myMain {
    .circle {
        width: 37px;
        height: 37px;
        border-radius: 50%;
    }
    .table__price, .table__color, .table__size {
        table thead tr {
            background: #f0f0f0;
            color: black;
            th {
                letter-spacing: 2px;
            }
        }
    }
    .table__color, .table__price, .table__size, .table__price--text, .banner__user {
        margin-top: 33px;
    }
}
main {
    .container-fluid {
        padding-top: 33px;
        padding-bottom: 50px;
    }
    #selection {
        @include myMain;
        table.table__menu {
            thead tr {
                background: $myColor;
                th span {
                    letter-spacing: 2px;
                }
                th div.icon__table {
                    width: 12px;
                    height: 1.5px;
                    background: #fff;
                    display: inline-block;
                    position: relative;
                    margin-bottom: 5px;
                    margin-left: 10px;
                    margin-right: 10px;
                    &:before {
                        content: "";
                        width: 20px;
                        height: 1.5px;
                        position: absolute;
                        top: 7px;
                        background: #fff;
                        
                    }
                    &:after {
                        content: "";
                        width: 26px;
                        height: 1.5px;
                        
                        position: absolute;
                        bottom: 7px;
                        background: #fff;
                    }
                }
            }
            tbody.table__menu__content a {
                color: black;
                &:hover {
                    text-decoration: none;
                    color: #d31919;
                }
            }

        }
        .table__color {
            min-height: 205px;
            .table__circle {
                label {
                    margin-left: 16px;
                    margin-top: 10px;
                    position: relative;
                    content: "";
                    width: 37px;
                    height: 37px;
                    border-radius: 50%;
                    border: 1px solid #e5e5e5;
                    cursor: pointer;
                    .item__color {
                        
                        &:before {
                            content: "";
                            position: absolute;
                            width: 12px;
                            height: 5px;
                            border: 2px solid #fff;
                            border-width: 0 0 2px 2px;
                            left: 18px;
                            top: 18px;
                            transition: 1s;
                            transform: translate(-45%, -90%) rotate( 
                    315deg
                    );
                            opacity: 0;
                        }
                        &:after {
                        content: "";
                        position: absolute;
                        width: 45px;
                        height: 45px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        right: -5px;
                        bottom: -5px;
                        transition: 1s;
                    }
                        &:hover:after {
                            border-color: #0000005c;
                        }
                    }
                    input {
                        display: none;
                        &:checked + .item__color:before {
                            opacity: 1;
                        }
                        &:checked + .item__color:after {
                            border-color: #0000005c;
                        }
                    }
                    &:first-child {
                        background: #dc8e6a;
                    }
                    &:nth-child(2) {
                        background: #9f755e;
                    }
                    &:nth-child(3) {
                        background: #b1c350;
                    }
                    &:nth-child(4) {
                        background: #333d4f;
                    }
                    &:nth-child(5) {
                        background: #8b7095;
                    }
                    &:nth-child(6) {
                        background: #ededed;
                    }
                    &:nth-child(7) {
                        background: #2a2a2a;
                    }
                    &:nth-child(8) {
                        background: #ec60e1;
                    }  
                }
            }
        }
        .table__price {
            min-height: 184px;
            div p {
                color: #868686;
            }
            .table__price--range {
                width: 85%;
                height: 4px;
                position: relative;
                background: #e5b72d;
                margin: 35px auto;

                div:first-child {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    top: -8px;
                    background: #e5b72d;
                    left: -2px;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        background: #fff;
                        border-radius: 50%;
                        top: 5px;
                        left: 5px;
                    }
                }
                div:last-child {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    top: -8px;
                    background: #e5b72d;
                    right: -2px;
                    &:after {
                        content: "";
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        background: #fff;
                        border-radius: 50%;
                        top: 5px;
                        right: 5px;
                    }
                }
            }
            
        }
        .table__size {
            min-height: 205px;
            div label {
                position: relative;
                margin-top: 10px;
                font-size: 12px;
                font-weight: 600;
                padding-left: 20px;
                cursor: pointer;
                input {
                    display: none;
                }
                div{
                    position: relative;
                    color: #868686;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    border: 2px solid #cbcbcb;
                    p {
                        position: absolute;
                        top: 11px;
                        left: 18px;
                    }
                    
                }
                input:checked + div {
                    border-color: black;
                    color: black;
                }
            }

        }
        .table__price--text {
            thead tr {
                background: #f0f0f0;
                color: black;
            }
            tbody a {
                color: #868686;
                font-weight: 200;
                &:hover {
                    text-decoration: none;
                    color: orange;
                }
            }
        }
        .banner__user {
            color: #fff;
            padding-top: 140px;
            padding-bottom: 140px;
            background-image: url(img/user2.jpg);
            background-position: center;
            background-size: cover;
            position: relative;
            div a {
                color: white;
                width: 50%;
                height: 50px;
                background: black;
                padding-top: 12px;
                &:hover {
                    color: #aaa;
                    text-decoration: none;
                }
            }
            div h2 {
                letter-spacing: 4px;
            }
            div p, a {
                letter-spacing: 2px;
                font-weight: 600;
            }
            &:before {
                content: "";
                width: 93%;
                height: 95%;
                
                border-left: 1px solid #fff;
                border-right: 1px solid #fff;
                
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                transform: scaleY(0);
                transition: 0.5s;
            }
            &:after {
                content: "";
                width: 93%;
                height: 95%;
                border-bottom: 1px solid #fff;
                border-top: 1px solid #fff;
                
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                transform: scaleX(0);
                transition: 0.5s;
            }
            &:hover::after {
                transform: scaleX(1);
            }
            &:hover::before {
                transform: scaleY(1);
            }

        }
        
    }
    .product__main {
        .product__main__item{
            a:hover {
                text-decoration: none;
            }
            span {
                letter-spacing: 2px;
            }
            .product__circle {
                position: relative;
                height: 50px;
                width: 50px;
                background: #e5b72d;
                border-radius: 50%;
                img {
                    position: absolute;
                    left: 30%;
                    top: 30%;
                    width: 20px;

                }

            }
            .product__filter {
                background: #f0f0f0;
                border-radius: 30px;
                width: 80%;
                height: 38px;
                margin-left: -20%;
                text-align: center;
                span {
                    color: black;
                    font-size: 16px;
                    letter-spacing: 2px;
                    padding-left: 30px;
                    font-weight: 700;
                }
            }
            .flex-wrap a:nth-child(2) .close,
            .flex-wrap a:nth-child(3) .close {
                font-size: 16px;
                background: #e5b72d;
                color: white;
                font-weight: 100;
                opacity: 1;
                padding-bottom: 8px;
            }
            .flex-wrap a:nth-child(2) .close {
                margin-left: -10px;
            }
            .fa-circle {
                color: #9f9f9f;

            }
            form {
                position: relative;
                select.custom-select {
                    color: #9f9f9f;
                    background-image: none;
                    border-radius: 0;
                    width: 205px;

                    &:focus {
                        box-shadow: none;
                        border-color: #aaa;
                    }
                    
                }
                i.fa-angle-down {
                    position: absolute;
                    right: 10px;
                    top: 11px;
                }
            }

            .item__svg a.item__svg--one svg {
                width: 18px;
                fill: #9f9f9f;
                margin-right: 20px; 
            }
            .item__svg a.item__svg--two svg {
                width: 18px;
                fill: #e5b72d;
                margin-right: 20px; 
            }
        }
        .product__main__shop {
            
            padding-top: 17px;
            div.col-lg-4 {
                padding-bottom: 10px;
            }
            p a {
                color: #868686;
                &:hover {
                    color: orange;
                    text-decoration: none;
                }
            }
            div.col-6 p:last-child {
                font-weight: 700;
            }
        }
        .selection__product {
            padding: 0;
            ul .page-item {
                text-align: center;
                width: 42px;
                height: 42px;
                .page-link {
                    padding: .5rem 0.5rem;
                    border-color: #cfcfcf;
                    color: #868686;
                    border-radius: 0;
                }
            }
            ul.pagination li:first-child {
                .page-link {
                    color: black;
                    border-color: black;
                }
            }
        }

    }
}
/*end__main*/


.fa-th-large{
	color: #e5b72d;
	font-size: 14px;
}
.fa-circle{
	font-size: 13px;
}

.product{
    position: relative;
    overflow: hidden;
}
.product img{
    width: 100%;
    height: auto;
}
.icon-shop{
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    visibility: hidden;
    
}
.icon-shop a{
    border: 2px solid #fff;
    background: white;
    color: #212529;
    border-radius: 50%;
    min-width: 45px;
    height: 45px;
    font-size: 18px;
    line-height: 43px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 5px 20px #e3d8d8;
}
.icon-shop a:hover{
    background: red;
    color: #fff;
    border-color: red;
    transition: 2s;
}
.product:hover .icon-shop{
    visibility: visible;
    animation: iconchay 0.5s forwards;
}
@keyframes iconchay{
    from{
        opacity: 0;
        margin-right: -150px ;
    }
    to{
        opacity: 1;
        margin-right: 0;
    }
}

.product:hover img{
    transform: scale(1.05);
    transition: ease-in-out 0.5s;
}
