/*start__header*/
header .navbar.navbar-light {
  padding: 26px 5%; }
header button.close {
  color: #fff; }
header button.close:focus {
  outline: none; }
header .search {
  border-radius: 30px; }
header input {
  outline: none; }
header button.w3-right {
  border: none; }
header button.w3-right:focus {
  outline: none; }
header .header__info {
  background-color: #84bdbe;
  padding-right: 5%;
  height: 45px; }
  header .header__info p .close {
    opacity: 1;
    font-weight: 100; }
header .w3-sidebar {
  top: 0;
  width: 25%;
  display: none; }
header #navbar__hide {
  background-color: black;
  display: none; }
  header #navbar__hide .navbar__hide--modal {
    background: rgba(0, 0, 0, 0);
    border: none; }
    header #navbar__hide .navbar__hide--modal:focus {
      outline: none; }
  header #navbar__hide .navbar__hide--sidebar button .bx-shopping-bag {
    color: #fff;
    font-size: 30px;
    padding-top: 2px; }
  header #navbar__hide button .fa-user {
    color: #fff;
    font-size: 25px; }
  header #navbar__hide .w3-sidebar#leftMenu {
    left: 0; }
  header #navbar__hide .w3-sidebar#rightMenuhide {
    right: 0; }
    header #navbar__hide .w3-sidebar#rightMenuhide p {
      padding-top: 50%; }
    header #navbar__hide .w3-sidebar#rightMenuhide #shopping {
      width: 50%;
      padding: 5% 0;
      transition: 2s;
      background-color: black; }
    header #navbar__hide .w3-sidebar#rightMenuhide #shopping:hover {
      text-decoration: none;
      background-color: #eb0a19; }
  header #navbar__hide button.w3-right {
    background-color: rgba(0, 0, 0, 0); }
header #slide {
  background-image: url(img/user-main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 465px;
  transition: all 2s; }
  header #slide .text__slide {
    position: absolute;
    right: 0;
    bottom: 26%; }
    header #slide .text__slide h1 {
      font-size: 60px;
      font-family: "Myriad Pro"; }
    header #slide .text__slide p {
      font-size: 14px; }
  header #slide .slide__form--hide {
    position: absolute;
    top: 8px;
    left: 0;
    display: none; }
    header #slide .slide__form--hide button {
      box-shadow: none; }
  header #slide #slide__navbar {
    z-index: 999;
    border-bottom: 1px solid silver;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transition: 1s;
    background-color: rgba(0, 0, 0, 0); }
    header #slide #slide__navbar form button {
      box-shadow: none;
      height: 50px; }
      header #slide #slide__navbar form button span {
        font-size: 20px;
        padding-left: 10px;
        padding-top: 2px; }
    header #slide #slide__navbar .slide__navbar--menu ul li {
      margin-right: 1rem; }
    header #slide #slide__navbar .slide__navbar--menu ul li a {
      color: white;
      font-weight: 600;
      padding-left: 0;
      padding-right: 0;
      margin: 0 0.8rem;
      position: relative;
      letter-spacing: 2px; }
      header #slide #slide__navbar .slide__navbar--menu ul li a::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scale(0);
        border-bottom: 2px solid #fff;
        transition: 0.5s; }
      header #slide #slide__navbar .slide__navbar--menu ul li a:hover::before {
        transform: scale(1); }
    header #slide #slide__navbar .slide__navbar--menu ul li:nth-child(4) a::before {
      border: none; }
    header #slide #slide__navbar .slide__navbar--item .dropdown button.btn {
      border: 2px solid #fff;
      color: white;
      border-radius: 20px;
      box-shadow: none; }
      header #slide #slide__navbar .slide__navbar--item .dropdown button.btn img {
        padding: 0 10px; }
    header #slide #slide__navbar .slide__navbar--item .dropdown img.flag {
      width: 26px; }
    header #slide #slide__navbar .slide__navbar--item button.item__modal {
      border: none;
      background-color: rgba(0, 0, 0, 0); }
      header #slide #slide__navbar .slide__navbar--item button.item__modal:focus {
        outline: none; }
      header #slide #slide__navbar .slide__navbar--item button.item__modal i.far.fa-user {
        color: #fff;
        font-size: 25px; }
    header #slide #slide__navbar .slide__navbar--item .sidebar__shopping button {
      background: rgba(0, 0, 0, 0);
      position: relative; }
      header #slide #slide__navbar .slide__navbar--item .sidebar__shopping button .bx-shopping-bag {
        color: #fff;
        font-size: 30px;
        padding-top: 2px; }
      header #slide #slide__navbar .slide__navbar--item .sidebar__shopping button span {
        position: absolute;
        top: -5px;
        font-size: 12px;
        color: white;
        background: #e5b72d;
        height: 20px;
        width: 20px;
        border-radius: 50%; }
    header #slide #slide__navbar .slide__navbar--item .w3-sidebar#rightMenu {
      display: none;
      right: 0; }
      header #slide #slide__navbar .slide__navbar--item .w3-sidebar#rightMenu p {
        padding-top: 50%; }
      header #slide #slide__navbar .slide__navbar--item .w3-sidebar#rightMenu a {
        width: 50%;
        padding: 5% 0;
        transition: 2s;
        background-color: black; }
        header #slide #slide__navbar .slide__navbar--item .w3-sidebar#rightMenu a:hover {
          text-decoration: none;
          background-color: #eb0a19; }

/*modal*/
.modal-content {
  padding-top: 50px;
  padding-bottom: 50px; }

#username, #password {
  width: 50%;
  height: 50px;
  margin: 0 auto;
  border-radius: 0; }

.custom-control {
  width: 50%;
  text-align: center;
  margin: 0 auto; }

.content form button {
  width: 50%;
  border-radius: 0;
  height: 50px;
  background-color: black;
  margin-top: 60px; }

.modal-content .close {
  background-color: none;
  color: blue; }

#text-id:hover {
  color: blue; }

.icon-style {
  color: #000; }

/*end__header*/
/*start__main*/
/*myAll*/
main .container-fluid {
  padding-top: 33px;
  padding-bottom: 50px; }
main #selection .circle {
  width: 37px;
  height: 37px;
  border-radius: 50%; }
main #selection .table__price table thead tr, main #selection .table__color table thead tr, main #selection .table__size table thead tr {
  background: #f0f0f0;
  color: black; }
  main #selection .table__price table thead tr th, main #selection .table__color table thead tr th, main #selection .table__size table thead tr th {
    letter-spacing: 2px; }
main #selection .table__color, main #selection .table__price, main #selection .table__size, main #selection .table__price--text, main #selection .banner__user {
  margin-top: 33px; }
main #selection table.table__menu thead tr {
  background: black; }
  main #selection table.table__menu thead tr th span {
    letter-spacing: 2px; }
  main #selection table.table__menu thead tr th div.icon__table {
    width: 12px;
    height: 1.5px;
    background: #fff;
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px; }
    main #selection table.table__menu thead tr th div.icon__table:before {
      content: "";
      width: 20px;
      height: 1.5px;
      position: absolute;
      top: 7px;
      background: #fff; }
    main #selection table.table__menu thead tr th div.icon__table:after {
      content: "";
      width: 26px;
      height: 1.5px;
      position: absolute;
      bottom: 7px;
      background: #fff; }
main #selection table.table__menu tbody.table__menu__content a {
  color: black; }
  main #selection table.table__menu tbody.table__menu__content a:hover {
    text-decoration: none;
    color: #d31919; }
main #selection .table__color {
  min-height: 205px; }
  main #selection .table__color .table__circle label {
    margin-left: 16px;
    margin-top: 10px;
    position: relative;
    content: "";
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    cursor: pointer; }
    main #selection .table__color .table__circle label .item__color:before {
      content: "";
      position: absolute;
      width: 12px;
      height: 5px;
      border: 2px solid #fff;
      border-width: 0 0 2px 2px;
      left: 18px;
      top: 18px;
      transition: 1s;
      transform: translate(-45%, -90%) rotate(315deg);
      opacity: 0; }
    main #selection .table__color .table__circle label .item__color:after {
      content: "";
      position: absolute;
      width: 45px;
      height: 45px;
      border: 1px solid #fff;
      border-radius: 50%;
      right: -5px;
      bottom: -5px;
      transition: 1s; }
    main #selection .table__color .table__circle label .item__color:hover:after {
      border-color: #0000005c; }
    main #selection .table__color .table__circle label input {
      display: none; }
      main #selection .table__color .table__circle label input:checked + .item__color:before {
        opacity: 1; }
      main #selection .table__color .table__circle label input:checked + .item__color:after {
        border-color: #0000005c; }
    main #selection .table__color .table__circle label:first-child {
      background: #dc8e6a; }
    main #selection .table__color .table__circle label:nth-child(2) {
      background: #9f755e; }
    main #selection .table__color .table__circle label:nth-child(3) {
      background: #b1c350; }
    main #selection .table__color .table__circle label:nth-child(4) {
      background: #333d4f; }
    main #selection .table__color .table__circle label:nth-child(5) {
      background: #8b7095; }
    main #selection .table__color .table__circle label:nth-child(6) {
      background: #ededed; }
    main #selection .table__color .table__circle label:nth-child(7) {
      background: #2a2a2a; }
    main #selection .table__color .table__circle label:nth-child(8) {
      background: #ec60e1; }
main #selection .table__price {
  min-height: 184px; }
  main #selection .table__price div p {
    color: #868686; }
  main #selection .table__price .table__price--range {
    width: 85%;
    height: 4px;
    position: relative;
    background: #e5b72d;
    margin: 35px auto; }
    main #selection .table__price .table__price--range div:first-child {
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid #fff;
      border-radius: 50%;
      top: -8px;
      background: #e5b72d;
      left: -2px; }
      main #selection .table__price .table__price--range div:first-child:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background: #fff;
        border-radius: 50%;
        top: 5px;
        left: 5px; }
    main #selection .table__price .table__price--range div:last-child {
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid #fff;
      border-radius: 50%;
      top: -8px;
      background: #e5b72d;
      right: -2px; }
      main #selection .table__price .table__price--range div:last-child:after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background: #fff;
        border-radius: 50%;
        top: 5px;
        right: 5px; }
main #selection .table__size {
  min-height: 205px; }
  main #selection .table__size div label {
    position: relative;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
    padding-left: 20px;
    cursor: pointer; }
    main #selection .table__size div label input {
      display: none; }
    main #selection .table__size div label div {
      position: relative;
      color: #868686;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: 2px solid #cbcbcb; }
      main #selection .table__size div label div p {
        position: absolute;
        top: 11px;
        left: 18px; }
    main #selection .table__size div label input:checked + div {
      border-color: black;
      color: black; }
main #selection .table__price--text thead tr {
  background: #f0f0f0;
  color: black; }
main #selection .table__price--text tbody a {
  color: #868686;
  font-weight: 200; }
  main #selection .table__price--text tbody a:hover {
    text-decoration: none;
    color: orange; }
main #selection .banner__user {
  color: #fff;
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: url(img/user2.jpg);
  background-position: center;
  background-size: cover;
  position: relative; }
  main #selection .banner__user div a {
    color: white;
    width: 50%;
    height: 50px;
    background: black;
    padding-top: 12px; }
    main #selection .banner__user div a:hover {
      color: #aaa;
      text-decoration: none; }
  main #selection .banner__user div h2 {
    letter-spacing: 4px; }
  main #selection .banner__user div p, main #selection .banner__user a {
    letter-spacing: 2px;
    font-weight: 600; }
  main #selection .banner__user:before {
    content: "";
    width: 93%;
    height: 95%;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transform: scaleY(0);
    transition: 0.5s; }
  main #selection .banner__user:after {
    content: "";
    width: 93%;
    height: 95%;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transform: scaleX(0);
    transition: 0.5s; }
  main #selection .banner__user:hover::after {
    transform: scaleX(1); }
  main #selection .banner__user:hover::before {
    transform: scaleY(1); }
main .product__main .product__main__item a:hover {
  text-decoration: none; }
main .product__main .product__main__item span {
  letter-spacing: 2px; }
main .product__main .product__main__item .product__circle {
  position: relative;
  height: 50px;
  width: 50px;
  background: #e5b72d;
  border-radius: 50%; }
  main .product__main .product__main__item .product__circle img {
    position: absolute;
    left: 30%;
    top: 30%;
    width: 20px; }
main .product__main .product__main__item .product__filter {
  background: #f0f0f0;
  border-radius: 30px;
  width: 80%;
  height: 38px;
  margin-left: -20%;
  text-align: center; }
  main .product__main .product__main__item .product__filter span {
    color: black;
    font-size: 16px;
    letter-spacing: 2px;
    padding-left: 30px;
    font-weight: 700; }
main .product__main .product__main__item .flex-wrap a:nth-child(2) .close,
main .product__main .product__main__item .flex-wrap a:nth-child(3) .close {
  font-size: 16px;
  background: #e5b72d;
  color: white;
  font-weight: 100;
  opacity: 1;
  padding-bottom: 8px; }
main .product__main .product__main__item .flex-wrap a:nth-child(2) .close {
  margin-left: -10px; }
main .product__main .product__main__item .fa-circle {
  color: #9f9f9f; }
main .product__main .product__main__item form {
  position: relative; }
  main .product__main .product__main__item form select.custom-select {
    color: #9f9f9f;
    background-image: none;
    border-radius: 0;
    width: 205px; }
    main .product__main .product__main__item form select.custom-select:focus {
      box-shadow: none;
      border-color: #aaa; }
  main .product__main .product__main__item form i.fa-angle-down {
    position: absolute;
    right: 10px;
    top: 11px; }
main .product__main .product__main__item .item__svg a.item__svg--one svg {
  width: 18px;
  fill: #9f9f9f;
  margin-right: 20px; }
main .product__main .product__main__item .item__svg a.item__svg--two svg {
  width: 18px;
  fill: #e5b72d;
  margin-right: 20px; }
main .product__main .product__main__shop {
  padding-top: 17px; }
  main .product__main .product__main__shop div.col-lg-4 {
    padding-bottom: 10px; }
  main .product__main .product__main__shop p a {
    color: #868686; }
    main .product__main .product__main__shop p a:hover {
      color: orange;
      text-decoration: none; }
  main .product__main .product__main__shop div.col-6 p:last-child {
    font-weight: 700; }
main .product__main .selection__product {
  padding: 0; }
  main .product__main .selection__product ul .page-item {
    text-align: center;
    width: 42px;
    height: 42px; }
    main .product__main .selection__product ul .page-item .page-link {
      padding: .5rem 0.5rem;
      border-color: #cfcfcf;
      color: #868686;
      border-radius: 0; }
  main .product__main .selection__product ul.pagination li:first-child .page-link {
    color: black;
    border-color: black; }

/*end__main*/
.fa-th-large {
  color: #e5b72d;
  font-size: 14px; }

.fa-circle {
  font-size: 13px; }

.product {
  position: relative;
  overflow: hidden; }

.product img {
  width: 100%;
  height: auto; }

.icon-shop {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  visibility: hidden; }

.icon-shop a {
  border: 2px solid #fff;
  background: white;
  color: #212529;
  border-radius: 50%;
  min-width: 45px;
  height: 45px;
  font-size: 18px;
  line-height: 43px;
  text-align: center;
  display: inline-block;
  box-shadow: 0 5px 20px #e3d8d8; }

.icon-shop a:hover {
  background: red;
  color: #fff;
  border-color: red;
  transition: 2s; }

.product:hover .icon-shop {
  visibility: visible;
  animation: iconchay 0.5s forwards; }

@keyframes iconchay {
  from {
    opacity: 0;
    margin-right: -150px; }
  to {
    opacity: 1;
    margin-right: 0; } }
.product:hover img {
  transform: scale(1.05);
  transition: ease-in-out 0.5s; }

/*footer*/
footer {
  background: #151515; }

.align-text {
  padding-top: 86px;
  padding-bottom: 86px; }

p.text__footer, p.text__hebe .logo__footer {
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600; }

p.text__hebe {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  font-family: "[Mermaid]"; }

.hr {
  width: 30%;
  background-color: #e5b72d;
  height: 1px; }

.text__footer--last {
  font-size: 18px;
  color: #fff;
  font-weight: 600; }

.text-footer {
  padding-left: 0; }

.text-footer li {
  list-style-type: none; }

.text-footer li a, .text-last, .email {
  color: #868686; }

.text-footer li a:hover {
  color: #db7409;
  text-decoration: none; }

.logo__footer p:last-child {
  letter-spacing: 8px;
  color: #616161;
  font-size: 12px;
  font-weight: 600; }

.logo {
  border-left: 1px solid #343a40;
  border-right: 1px solid #343a40; }

.form-footer {
  width: 80%;
  margin: 0 auto;
  position: relative; }
  .form-footer input {
    height: 50px;
    border: 2px solid #3a3a3a;
    background: none;
    border-right: none;
    color: #868686;
    line-height: 52px;
    width: 100%; }
    .form-footer input:focus {
      outline: none; }

.form-footer button {
  background: #e5b72d;
  height: 50px;
  border: none;
  width: 30%;
  color: #010101;
  font-weight: 700;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: inset 0 0 0 0 #fff;
  transition: ease-out 0.3s;
  letter-spacing: 1px; }
  .form-footer button:hover {
    box-shadow: inset 102px 0 0 0 #fff;
    color: #e5b72d; }
  .form-footer button:focus {
    outline: none; }

.circle-icon a {
  border: 2px solid #2b2b2b;
  color: #8b8b8b;
  border-radius: 50%;
  min-width: 45px;
  height: 45px;
  font-size: 18px;
  line-height: 43px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  position: relative;
  z-index: 1; }
  .circle-icon a:hover {
    color: #fff;
    border-color: #c65f5f; }
    .circle-icon a:hover::before {
      transform: scale(1.1); }

.logo-old {
  width: 320px;
  float: right;
  height: 30px; }

.circle-icon a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c65f5f;
  z-index: -1;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 1s ease-in-out; }

.container-change {
  padding-left: 5%;
  padding-right: 5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #868686;
  font-weight: 400; }

/*Responsive*/
@media (max-width: 1300px) {
  header #slide #slide__navbar .slide__navbar--menu ul li a {
    letter-spacing: 0; }

  header #slide #slide__navbar .slide__navbar--menu ul li {
    margin-right: 0; } }
@media (max-width: 1088px) {
  .product__main__item > div:nth-child(2) {
    padding-top: 10px; }

  main .product__main .product__main__item form {
    display: none; } }
@media (max-width: 1070px) {
  header #slide #slide__navbar .slide__navbar--item .dropdown button.btn {
    visibility: hidden; } }
@media (max-width: 1024px) {
  #slide__navbar, .header__info {
    display: none; }

  header #slide {
    min-height: 350px; }

  header #navbar__hide {
    display: block; }

  main #selection .banner__user div a {
    width: 52%; } }
@media (max-width: 992px) {
  #selection {
    order: 1;
    width: 50%; }

  main .col-9 {
    max-width: 100%;
    flex: none; }

  .container-change > div {
    justify-content: center; }

  .oder-item1 {
    order: 2; }

  .oder-item2 {
    order: 1; }

  .oder-item3 {
    order: 3; }

  .logo {
    border: none; } }
@media (max-width: 768px) {
  header #slide {
    min-height: 250px; }

  header .w3-sidebar {
    width: 200px; }

  .oder-item1 {
    order: 2; }

  .oder-item2 {
    order: 1; }

  .oder-item3 {
    order: 3; }

  .xyz {
    float: right; } }
@media (max-width: 576px) {
  header #slide {
    min-height: 150px; }

  header #slide .text__slide {
    bottom: 5%; }

  header #slide .text__slide h1 {
    font-size: 40px; }

  header .navbar.navbar-light {
    padding: 2%; }

  #selection {
    display: none; }

  footer .h5 {
    font-size: 14px;
    letter-spacing: 0; } }
@media (max-width: 300px) {
  header #slide {
    min-height: 100px; }

  #logo {
    display: none; }

  main .product__main .product__main__item .dropdown button {
    width: auto; }

  .form-footer button span {
    font-size: 12px; } }
.product__main__shop--hide {
  visibility: hidden; }

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  visibility: visible; }

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(10%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%); } }
.w3-animate-bottom {
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-name: animatebottom; }

@keyframes animatebottom {
  0% {
    opacity: 0;
    transform: translateY(10%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

/*# sourceMappingURL=style.css.map */
